---
import { PUBLIC_SERVER_URL, PUBLIC_CLIENT_URL } from "astro:env/client";
import ProductCard from "../components/ProductCard.astro";
import Layout from "../layouts/Layout.astro";

// Get JWT token from cookies
const jwt_token = Astro.cookies.get("jwt_token")?.value;
console.log(jwt_token);

// Redirect if no JWT token is found
if (!jwt_token) {
    Astro.redirect("/auth/signin");
}

// Fetch cart data
const response = await fetch(`${PUBLIC_CLIENT_URL}/api/getfullcart`, {
    method: "GET",
    headers: {
        Authorization: `Bearer ${jwt_token}`,
    },
});
const data = await response.json();
const products = data ? data.cart : [];
console.log("cart page", products);
---

<Layout title="Your Cart">
    <main class="product-page">
        <h1
            class="text-xl font-bold tracking-tight text-gray-900 sm:text-md md:text-xl py-2"
        >
            <span
                class="text-transparent bg-clip-text bg-gradient-to-tr to-orange-600 from-red-600"
            >
                Your cart
            </span>
        </h1>
        <section class="product-list">
            {
                products && products.length > 0 ? (
                    products.map((product: any) => {
                        // Ensure product has expected structure
                        const productData = product?.data;
                        if (!productData) {
                            return <div>Cart data is missing</div>;
                        }
                        return (
                            <ProductCard
                                key={productData.id}
                                id={productData.id}
                                title={
                                    productData.attributes?.title || "No Title"
                                }
                                price={
                                    productData.attributes?.price || "No Price"
                                }
                                imageUrl={
                                    productData.attributes?.photos?.data[0]
                                        ?.attributes?.formats?.small?.url ||
                                    "/default-image.jpg"
                                }
                                isCart={true}
                            />
                        );
                    })
                ) : (
                    <div>No products available</div>
                )
            }
        </section>
    </main>
</Layout>

<style>
    .product-page {
        padding: 20px;
        max-width: 1200px;
        margin: 0 auto;
    }

    .product-list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 20px;
    }
</style>
