---
import ProductCard from "../components/ProductCard";
import Layout from "../layouts/Layout.astro";
import CartItems from "../components/CartItems";
import { PUBLIC_CLIENT_URL } from "astro:env/client";
const jwtToken = Astro.cookies.get("jwt_token")?.value;
const verificationRes = await fetch(`${PUBLIC_CLIENT_URL}/api/verify-user`, {
    method: "GET",
    headers: {
        Authorization: `Bearer ${jwtToken}`,
    },
});
const verData = await verificationRes.json();
const isAuthenticated = verData.isVerified;

// Redirect if no JWT token is found
if (!isAuthenticated) {
    Astro.redirect("/auth/signin");
}
const serverUrl = import.meta.env.PUBLIC_SERVER_URL;
// Fetch cart data
const response = await fetch(`${PUBLIC_CLIENT_URL}/api/getfullcart`, {
    method: "GET",
    headers: {
        Authorization: `Bearer ${jwtToken}`,
    },
});
const data = await response.json();
const products = data ? data.cart : [];
console.log("cart page", products);
---

<Layout title="Your Cart">
    <main class="product-page">
        <h1
            class="text-xl font-bold tracking-tight text-gray-900 sm:text-md md:text-xl py-2"
        >
            <span
                class="text-transparent bg-clip-text bg-gradient-to-tr to-orange-600 from-red-600"
            >
                Your cart
            </span>
        </h1>
        <section class="product-list">
            <CartItems
                client:only="react"
                serverUrl={serverUrl}
                clientUrl={PUBLIC_CLIENT_URL}
                isAuthenticated={jwtToken}
            />
        </section>

        <style>
            .product-page {
                padding: 20px;
                max-width: 1200px;
                margin: 0 auto;
            }

            .product-list {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
                gap: 20px;
            }
        </style>
    </main></Layout
>
